language: python
if: tag IS blank
jobs:
  include:
    - name: "Python 3.9 on Linux: core"
      python: 3.9
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/calibration ./sofia_redux/spectroscopy ./sofia_redux/toolkit ./sofia_redux/visualization
    - name: "Python 3.9 on Linux: scan"
      python: 3.9
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/scan
    - name: "Python 3.9 on Linux: hawc"
      python: 3.9
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/instruments/hawc
    - name: "Python 3.9 on Linux: other instruments"
      python: 3.9
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/instruments/fifi_ls ./sofia_redux/instruments/flitecam ./sofia_redux/instruments/forcast
    - name: "Python 3.9 on Linux: pipeline"
      python: 3.9
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/pipeline
    - name: "Python 3.9 on Windows: core"
      os: windows
      language: shell       # Must install python via Chocolatey
      before_install:
        - choco install python --version 3.9
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python39:/c/Python39/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/calibration ./sofia_redux/spectroscopy ./sofia_redux/toolkit ./sofia_redux/visualization
    - name: "Python 3.9 on Windows: scan"
      os: windows
      language: shell       # Must install python via Chocolatey
      before_install:
        - choco install python --version 3.9
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python39:/c/Python39/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/scan
    - name: "Python 3.9 on Windows: hawc"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.9
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python39:/c/Python39/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/instruments/hawc
    - name: "Python 3.9 on Windows: other instruments"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.9
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python39:/c/Python39/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/instruments/fifi_ls ./sofia_redux/instruments/flitecam ./sofia_redux/instruments/forcast
    - name: "Python 3.9 on Windows: pipeline"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.9
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python39:/c/Python39/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/pipeline
install: pip3 install --upgrade pip
