language: python
if: tag IS blank
jobs:
  include:
    - name: "Python 3.8 on Linux: core"
      python: 3.8
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/calibration ./sofia_redux/scan ./sofia_redux/spectroscopy ./sofia_redux/toolkit ./sofia_redux/visualization
    - name: "Python 3.8 on Linux: instruments"
      python: 3.8
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/instruments
    - name: "Python 3.8 on Linux: pipeline"
      python: 3.8
      env:
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/pipeline
    - name: "Python 3.8 on Windows: core"
      os: windows
      language: shell       # Must install python via Chocolatey
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python38:/c/Python38/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/calibration ./sofia_redux/scan ./sofia_redux/spectroscopy ./sofia_redux/toolkit ./sofia_redux/visualization
    - name: "Python 3.8 on Windows: instruments"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python38:/c/Python38/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/instruments
    - name: "Python 3.8 on Windows: pipeline"
      os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env:
        - PATH=/c/Python38:/c/Python38/Scripts:$PATH
        - QT_QPA_PLATFORM="offscreen"
      script:
        - pip install -r requirements.txt
        - pytest ./sofia_redux/pipeline
install: pip3 install --upgrade pip
