include README.rst
include CHANGES.rst
include setup.cfg
include LICENSE.rst
include pyproject.toml

recursive-include sofia_redux *.pyx *.c *.pxd
recursive-include licenses *
recursive-include scripts *

prune build
prune docs

global-exclude *.pyc *.o .DS_Store
global-exclude  grism/standard_models/*fits
global-exclude flitecam/data/linearity_files/*fits
global-exclude flitecam/data/grism/order_mask/*fits
global-exclude flitecam/data/grism/wave_cal/*fits
